<footer class="site-footer">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between text-white">
    <a href="https://github.com/bensharkey/Zero-Aperture-Astrometry" target="_blank" rel="noopener" class="mb-2 mb-md-0">
      <img src="{{ url_for('static', filename='img/github_mark.png') }}" alt="GitHub Repository" class="github-logo" />
    </a>
    <div class="fw-semibold text-center flex-fill mb-2 mb-md-0 footer-text">
      Small Bodies Node<br />
      &copy; {{ current_year }}
    </div>
    <a href="https://pds-smallbodies.astro.umd.edu/" target="_blank" rel="noopener" class="mb-2 mb-md-0">
      <img src="{{ url_for('static', filename='img/sbn_logo.png') }}" alt="SBN Logo" class="sbn-logo" />
    </a>
  </div>
</footer>
