<header class="site-header shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark px-3">
    <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}"
      >Zero Aperture Astrometry Corrector</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'main.index' %}active{% endif %}"
            href="{{ url_for('main.index') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'main.about' %}active{% endif %}"
            href="{{ url_for('main.about') }}"
            >About</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
